NODE_ENV=development
PORT=5000
SESSION_SECRET=
CLIENT_JWT_SECRET=
# Staging
OAUTH_CLIENT_ID_STAGING=
OAUTH_CLIENT_SECRET_STAGING=
EMAIL_APIKEY_STAGING=
EMAIL_USER_STAGING=
EMAIL_HOST_STAGING=
EMAIL_SENDER_STAGING=
EMAIL_PASS_STAGING=
MONGODB_URI_STAGING=
HOST_ADDRESS_STAGING=
CLIENT_ROUTE_STAGING=
CLOUD_NAME_STAGING=
CLOUD_API_KEY_STAGING=
CLOUD_API_SECRET_STAGING=