NODE_ENV=development
PORT=5000
SESSION_SECRET=audaxious_secret
CLIENT_JWT_SECRET=clientabracadabrajs
# Staging
OAUTH_CLIENT_ID_STAGING=449805417830-v8utd1uv21r013dm6kt8nfc6jhbso3jr.apps.googleusercontent.com
OAUTH_CLIENT_SECRET_STAGING=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
EMAIL_APIKEY_STAGING=B4776444ABCC11ED878DF23C91C88F4E
EMAIL_USER_STAGING=hackcitytech
EMAIL_HOST_STAGING=mail.smtp2go.com
EMAIL_SENDER_STAGING=info@hackcity.tech
EMAIL_PASS_STAGING=8XDUjIipIeQJ2A3i
MONGODB_URI_STAGING=mongodb+srv://iyiola_dev:iyiola081719@cluster0.nfszgum.mongodb.net/audaxious?retryWrites=true&w=majority
HOST_ADDRESS_STAGING=https://api.audaxious.com/api/v1
CLIENT_ROUTE_STAGING=https://audaxious.com/dashboard
CLOUD_NAME_STAGING=dpm6velwz
CLOUD_API_KEY_STAGING=389116535886971
CLOUD_API_SECRET_STAGING=wL_L4O863EwjylSPknMFBIO8IkM