PORT=5000
MONGODB_URI=mongodb+srv://audaxious:audaxious@cluster0.jj7jufa.mongodb.net/audaxious?retryWrites=true&w=majority
CLIENT_JWT_SECRET=clientabracadabrajs
EMAIL_USER=hackcitytech
EMAIL_HOST=mail.smtp2go.com
EMAIL_PASS=8XDUjIipIeQJ2A3i
EMAIL_SENDER=info@hackcity.tech
EMAIL_APIKEY=B4776444ABCC11ED878DF23C91C88F4E
OAUTH_CLIENT_ID=701639252572-125ekgtnjphjnbe1r18aco6qd7d87g0g.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=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
HOST_ADDRESS=https://audaxious-auth-api-a107eed7620b.herokuapp.com/api/v1
